<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>PharmaLoc</display-name>
  <welcome-file-list>
    <welcome-file>villes.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VilleController</display-name>
    <servlet-name>VilleController</servlet-name>
    <servlet-class>controller.VilleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VilleController</servlet-name>
    <url-pattern>/VilleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GardeController</display-name>
    <servlet-name>GardeController</servlet-name>
    <servlet-class>controller.GardeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GardeController</servlet-name>
    <url-pattern>/GardeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VilleServlet</display-name>
    <servlet-name>VilleServlet</servlet-name>
    <servlet-class>controller.VilleServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ZoneController</display-name>
    <servlet-name>ZoneController</servlet-name>
    <servlet-class>controller.ZoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoneController</servlet-name>
    <url-pattern>/ZoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacienController</display-name>
    <servlet-name>PharmacienController</servlet-name>
    <servlet-class>controller.PharmacienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacienController</servlet-name>
    <url-pattern>/PharmacienController</url-pattern>
  </servlet-mapping>
</web-app>