<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>PharmaLoc</display-name>
  <welcome-file-list>
    <welcome-file>authentification.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VilleController</display-name>
    <servlet-name>VilleController</servlet-name>
    <servlet-class>controller.VilleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VilleController</servlet-name>
    <url-pattern>/VilleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GardeController</display-name>
    <servlet-name>GardeController</servlet-name>
    <servlet-class>controller.GardeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GardeController</servlet-name>
    <url-pattern>/GardeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VilleServlet</display-name>
    <servlet-name>VilleServlet</servlet-name>
    <servlet-class>controller.VilleServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ZoneController</display-name>
    <servlet-name>ZoneController</servlet-name>
    <servlet-class>controller.ZoneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoneController</servlet-name>
    <url-pattern>/ZoneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacienController</display-name>
    <servlet-name>PharmacienController</servlet-name>
    <servlet-class>controller.PharmacienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacienController</servlet-name>
    <url-pattern>/PharmacienController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthentificationController</display-name>
    <servlet-name>AuthentificationController</servlet-name>
    <servlet-class>controller.AuthentificationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationController</servlet-name>
    <url-pattern>/AuthentificationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionController</display-name>
    <servlet-name>DeconnexionController</servlet-name>
    <servlet-class>controller.DeconnexionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionController</servlet-name>
    <url-pattern>/DeconnexionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmacieController</display-name>
    <servlet-name>PharmacieController</servlet-name>
    <servlet-class>controller.PharmacieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmacieController</servlet-name>
    <url-pattern>/PharmacieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PharmaGardeController</display-name>
    <servlet-name>PharmaGardeController</servlet-name>
    <servlet-class>controller.PharmaGardeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PharmaGardeController</servlet-name>
    <url-pattern>/PharmaGardeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZoneByVilleController</display-name>
    <servlet-name>ZoneByVilleController</servlet-name>
    <servlet-class>controller.ZoneByVilleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZoneByVilleController</servlet-name>
    <url-pattern>/ZoneByVilleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ajouPharmaController</display-name>
    <servlet-name>ajouPharmaController</servlet-name>
    <servlet-class>controller.ajouPharmaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouPharmaController</servlet-name>
    <url-pattern>/ajouPharmaController</url-pattern>
  </servlet-mapping>
</web-app>